* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
/*sessão header*/
#menu-opener {
    display: none;
}

header .first-menu {
    width: 100%;
    height: 150px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .first-menu .logo img {
    width: 200px;
    height: 80px;
    margin-right: 100px;
}

header .first-menu ul {
    display: flex;
}

header .first-menu .menu {
    margin-left: 100px;
}

header .first-menu .menu ul li {
    list-style: none;
    display: inline-block;
}
header .first-menu .menu li a {
    text-decoration: none;
    color: #000;
    margin: 0 20px;
    font-weight: 600;
    font-size: 17px;
}

header .first-menu .menu li a:hover {
    color: #03cbc1;
    border-bottom: 2px solid #03cbc1;
}

.main {
    padding: 0;
}

section .title h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
}

/*sessão login*/

section .login {
    width: 450px;
    height: 350px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 50px;
}

.login label {
    font-size: 18px;
    font-weight: 600;
}

.login form input {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 10px 0px;
    font-size: 18px;
}

input:focus {
    outline: 1px solid #999;
}    

.login form button {
    font-size: 18px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    border: 0;
    padding: 10px 20px;
    margin: 10px 0px;
}

.login form button:hover {
    background-color: #000;
}


/*sessão painel*/

.form-banner {
    margin: 0 auto;
    width: 600px;
    border-bottom: 1px solid #ccc;
}
.form-banner h3,
.container h3 {
    margin-top: 20px;
}

.form-banner input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
}

.container {
    margin: 0 auto;
    width: 600px;
    height: 600px;
}

.container .add-depoimento {
    padding-bottom: 100px;
    padding-top: 20px;
}
.container .add-depoimento input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: 0;
    border: 1px solid #ccc;
    margin: 10px 0;
}

.add-depoimento form button {
    font-size: 18px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    border: 0;
    padding: 10px 20px;
    margin: 10px 0px;
}

.add-depoimento form button:hover {
    background-color: #000;
}

/* medias */

@media screen and (max-width: 768px) {
    .main {
        padding: 50px 0;
    }
    #menu-opener {
        display: block;
    }
    .menu nav {
        display: none;
        position: absolute;
        top: 150px;
        right: 0;
        z-index: 99;
        width: 70vw;
        height: calc(100vh - 150px);
        background-color: #000;
        transition: .5s all ease;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li {
        margin-top: 20px;
    }
    header .first-menu .menu li a {
        text-decoration: none;
        color: #bac2c4;
        margin-left: 30px;
        font-size: 20px;
    }
    
}

@media screen and (max-width: 640px) {
    .form-banner, .container {
        width: 400px;
    }
    
}

@media screen and (max-width: 500px) {
    section .login {
        width: 420px;
        padding: 30px;
    }
}

@media screen and (max-width: 425px) {
    header .first-menu .menu {
        margin-left: 50px;
    }
    section .login {
        width: 320px;
        padding: 20px;
    }
}

@media screen and (max-width: 410px) {
    header .first-menu .menu {
        margin-left: 20px;
    }
    .form-banner, .container {
        width: 330px;
    }
}

@media screen and (max-width: 320px) {
    header .first-menu .menu {
        margin-left: 0;
        margin-right: 10px;
    }
    header .first-menu .logo img {
        width: 150px;
        height: 80px;
        margin-right: 60px;
    }
    .form-banner, .container {
        width: 300px;
    }
}